# **10. Input/Output Operations**

# üóÉÔ∏è 4. SQL Databases in Pandas (Reading and Writing)

In [18]:
import pandas as pd 
import sqlite3

## 1Ô∏è‚É£ What It Does and When to Use It

### ‚úÖ What it does:

Pandas provides built-in functions to **read from** and **write to SQL databases** using:

* `pd.read_sql()` or `pd.read_sql_query()` ‚Üí to read SQL data into a DataFrame.
* `df.to_sql()` ‚Üí to write a DataFrame to a SQL table.

### üìå When to use:

* When working with **structured data** stored in relational databases (like SQLite, MySQL, PostgreSQL).
* To integrate pandas with **data warehouses**, **ETL pipelines**, or **analytical dashboards**.
* For persisting processed data between sessions.

## 2Ô∏è‚É£ Syntax and Key Parameters

### üîπ Reading from SQL ‚Äî `pd.read_sql()`

```python
pd.read_sql(sql, con, index_col=None, params=None)
```

| Parameter   | Description                     |
| ----------- | ------------------------------- |
| `sql`       | SQL query string or table name  |
| `con`       | Database connection object      |
| `index_col` | Column to use as row index      |
| `params`    | Parameters to pass to SQL query |

---

### üîπ Writing to SQL ‚Äî `df.to_sql()`

```python
df.to_sql(name, con, if_exists='fail', index=True, dtype=None)
```

| Parameter   | Description                                    |
| ----------- | ---------------------------------------------- |
| `name`      | Table name                                     |
| `con`       | Database connection object                     |
| `if_exists` | `'fail'` (default), `'replace'`, or `'append'` |
| `index`     | Whether to write DataFrame index as a column   |
| `dtype`     | Optional: SQLAlchemy data types to use         |

## 3Ô∏è‚É£ Examples of Reading/Writing

### üõ†Ô∏è Setup

You can use the built-in **SQLite** database for quick testing (no server required).

In [19]:
df = pd.DataFrame({
    "ID": [1, 2],
    "Name": ["Alice", "Bob"],
    "Salary": [50000, 60000]
})

df

   ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000

In [20]:
# Create connection to SQLite file
conn = sqlite3.connect('data files/sql/company.db')

conn

In [21]:
# Write to database
df.to_sql('employees', conn, if_exists='replace', index=False)

2

In [22]:
result_df = pd.read_sql("SELECT * FROM employees", conn)

display(result_df)

conn.close()

   ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000

## 4Ô∏è‚É£ Common Pitfalls

| Pitfall                        | Description & Solution                                                              |
| ------------------------------ | ----------------------------------------------------------------------------------- |
| **Missing SQL library**        | You must install `sqlite3`, `sqlalchemy`, or database drivers like `psycopg2`.      |
| **Overwriting tables**         | `if_exists='replace'` deletes and recreates the table. Use `'append'` with caution. |
| **Index handling**             | Avoid writing index column unless needed (`index=False`).                           |
| **Data type mismatch**         | SQL types (e.g., `INTEGER`, `TEXT`) may conflict ‚Äî use `dtype` if needed.           |
| **Security risk with raw SQL** | Always use parameterized queries to avoid SQL injection.                            |

## 5Ô∏è‚É£ Real-World Usage

### üß™ Data Pipelines

* Pull raw data from SQL databases using `read_sql()` for cleaning and modeling in pandas.

### üìä Reporting Systems

* Export final analytics results from pandas to a SQL table for use in BI tools.

### üì¶ Application Integration

* Apps use SQL backends; pandas can serve as a bridge for batch analytics or scheduled jobs.

## ‚úÖ Summary Table

| Task            | Method                             |
| --------------- | ---------------------------------- |
| Read SQL table  | `pd.read_sql()`                    |
| Write SQL table | `df.to_sql()`                      |
| Replace/append  | `if_exists='...'`                  |
| Set DB index    | `index=False` or `index_col='...'` |

<center><b>Thanks</b></center>