# **Data Cleaning**

# **12. Unpivoting or Pivoting (Reshaping) Data in pandas**

In [2]:
import numpy as np
import pandas as pd

These techniques help you reshape your DataFrame, either to **summarize** (pivot) or **flatten** (unpivot) your data, based on your analysis needs.

---

## üß≠ When Do You Reshape Data?

| Operation   | When to Use                                                                          |
| ----------- | ------------------------------------------------------------------------------------ |
| `pivot()`   | When you want to **summarize** data by creating a table layout with rows and columns |
| `melt()`    | When you want to **flatten** wide data into long format                              |
| `stack()`   | When you want to **compress columns into rows** (multi-indexed DF)                   |
| `unstack()` | When you want to **expand row index into columns** (multi-indexed DF)                |

In [3]:
df = pd.DataFrame({
    'Date': ['2023-01', '2023-01', '2023-02', '2023-02'],
    'Region': ['North', 'South', 'North', 'South'],
    'Sales': [200, 150, 220, 180],
    'Profit': [50, 40, 60, 55]
})

df

      Date Region  Sales  Profit
0  2023-01  North    200      50
1  2023-01  South    150      40
2  2023-02  North    220      60
3  2023-02  South    180      55

## üîÑ 1. `pivot()` ‚Äî Convert Long to Wide Format

In [4]:
pivot_df = df.pivot(index='Date', columns='Region', values='Sales')
pivot_df

Region   North  South
Date
2023-01    200    150
2023-02    220    180

‚úÖ **Use Case**: Reporting monthly regional sales ‚Äî easier for business summary.

üß† **Why `pivot()`?**
You‚Äôre organizing **existing data** into a more readable layout.

## üîÑ 2. `melt()` ‚Äî Convert Wide to Long Format

In [5]:
df

      Date Region  Sales  Profit
0  2023-01  North    200      50
1  2023-01  South    150      40
2  2023-02  North    220      60
3  2023-02  South    180      55

In [6]:
df.melt(id_vars=['Date', 'Region'], value_vars=['Sales', 'Profit'],
        var_name='Metric', value_name='Value')

      Date Region  Metric  Value
0  2023-01  North   Sales    200
1  2023-01  South   Sales    150
2  2023-02  North   Sales    220
3  2023-02  South   Sales    180
4  2023-01  North  Profit     50
5  2023-01  South  Profit     40
6  2023-02  North  Profit     60
7  2023-02  South  Profit     55

‚úÖ **Use Case**: Preparing for **visualization** or feeding into **ML models** which need a tidy long format.

üß† **Why `melt()`?**
You reduce multiple metric columns into rows to improve analysis compatibility (e.g., Seaborn plots or stats libraries).

## üîÑ 3. `stack()` ‚Äî Stack Columns into MultiIndex Rows

In [7]:
df

      Date Region  Sales  Profit
0  2023-01  North    200      50
1  2023-01  South    150      40
2  2023-02  North    220      60
3  2023-02  South    180      55

In [8]:
df.set_index(['Date', 'Region'])

                Sales  Profit
Date    Region
2023-01 North     200      50
        South     150      40
2023-02 North     220      60
        South     180      55

In [10]:
stacked_df = df.set_index(['Date', 'Region']).stack()
stacked_df

Date     Region
2023-01  North   Sales     200
                 Profit     50
         South   Sales     150
                 Profit     40
2023-02  North   Sales     220
                 Profit     60
         South   Sales     180
                 Profit     55
dtype: int64

‚úÖ **Use Case**: When you want to **compress** your DataFrame or **prepare for hierarchical grouping**.

üß† **Why `stack()`?**
It‚Äôs useful for data processing pipelines where compact structure or hierarchical analysis is needed.

## üîÑ 4. `unstack()` ‚Äî Convert Index Level to Columns

In [11]:
stacked_df.unstack()

                Sales  Profit
Date    Region
2023-01 North     200      50
        South     150      40
2023-02 North     220      60
        South     180      55


‚úÖ **Use Case**: You‚Äôre **reversing** the effect of `stack()` to restore a table-like layout.

üß† **Why `unstack()`?**
Makes it easier to plot or aggregate along different dimensions.

## üîÅ Advanced Use Case: Reshape with Multiple Variables

In [12]:
df

      Date Region  Sales  Profit
0  2023-01  North    200      50
1  2023-01  South    150      40
2  2023-02  North    220      60
3  2023-02  South    180      55

In [13]:
df.pivot_table(index='Date', columns='Region', values=['Sales', 'Profit'])

        Profit        Sales
Region   North South  North  South
Date
2023-01   50.0  40.0  200.0  150.0
2023-02   60.0  55.0  220.0  180.0

‚úÖ **Use Case**: Dashboards or multi-variable reports.

üß† **Why `pivot_table()`?**
Supports **aggregation**, handles **duplicate entries**, and works with **multiple value columns**.

## üì¶ Real-Life Use Cases

| Industry     | Use Case                                          | Function        |
| ------------ | ------------------------------------------------- | --------------- |
| Retail       | Compare regional monthly sales                    | `pivot()`       |
| Finance      | Convert column-wise metrics to tidy format for ML | `melt()`        |
| Healthcare   | Collapse multi-level diagnosis data               | `stack()`       |
| Analytics    | Expand patient data from row-wise to column-wise  | `unstack()`     |
| BI Reporting | Multi-variable reports per region per time        | `pivot_table()` |

## ‚úÖ Summary Table

| Method          | Use Case                              | Converts    |
| --------------- | ------------------------------------- | ----------- |
| `pivot()`       | Summarize values with unique keys     | Long ‚Üí Wide |
| `pivot_table()` | Summarize with aggregation            | Long ‚Üí Wide |
| `melt()`        | Normalize/flatten for ML/tidy data    | Wide ‚Üí Long |
| `stack()`       | Collapse columns into MultiIndex rows | Wide ‚Üí Long |
| `unstack()`     | Expand index into columns             | Long ‚Üí Wide |

<center><b>Thanks</b></center>