# **Data Cleaning**

## **8. Index Cleaning**

In [2]:
import numpy as np
import pandas as pd

## âœ… What is Index Cleaning?

In pandas, the **index** is like a unique identifier (row label) for each row. A clean and properly structured index is important for:

* Easy row access and slicing
* Avoiding data mismatches or misalignments
* Maintaining data integrity during merges, joins, or reshaping

Index cleaning involves resetting, setting, renaming, validating, and removing redundant or poorly structured index values.

In [6]:
df = pd.DataFrame({
    'date': pd.date_range('2023-01-01', periods=3),
    'sales': [200, 300, 400]
})

df

        date  sales
0 2023-01-01    200
1 2023-01-02    300
2 2023-01-03    400

### ðŸ”¹ 1. `set_index()` â€“ Set a Column as Index

#### âž¤ **Purpose**:

Assign one or more columns as a meaningful index (e.g., Date, ID, etc.).

#### âž¤ **Syntax**:

```python
df.set_index('column_name', inplace=True)
```

#### âž¤ **Use Case**:

Time-series analysis, uniquely identifying rows, logical grouping.

In [7]:
df

        date  sales
0 2023-01-01    200
1 2023-01-02    300
2 2023-01-03    400

In [9]:
df.set_index('date', inplace=True)
df

            sales
date
2023-01-01    200
2023-01-02    300
2023-01-03    400

#### âœ… **Why**:

Indexing by time allows efficient slicing using time filters like:

In [11]:
df.loc['2023-01']

            sales
date
2023-01-01    200
2023-01-02    300
2023-01-03    400

### ðŸ”¹ 2. `reset_index()` â€“ Reset to Default Integer Index

#### âž¤ **Purpose**:

Remove custom index and revert to default integer index (`0,1,2,...`).

#### âž¤ **Syntax**:

```python
df.reset_index(drop=False, inplace=True)
```

* `drop=True`: Removes the index column from the data.
* `drop=False`: Moves index back to a column.

#### âž¤ **Use Case**:

After grouping or when a custom index becomes unnecessary.

In [12]:
df.reset_index(inplace=True)
df

        date  sales
0 2023-01-01    200
1 2023-01-02    300
2 2023-01-03    400

#### âœ… **Why**:

Useful when exporting data or when the index is not meaningful anymore.

### ðŸ”¹ 3. `rename_axis()` â€“ Rename Index/Column Axis Name

#### âž¤ **Purpose**:

Give a name (label) to the index or column axis.

#### âž¤ **Syntax**:

```python
df.rename_axis('IndexName', axis='index', inplace=True)
```

#### âž¤ **Use Case**:

When the index represents something meaningful (like 'City' or 'Date') and we want to label it.

In [13]:
df = pd.DataFrame({'value': [10, 20, 30]}, index=['A', 'B', 'C'])

df

   value
A     10
B     20
C     30

In [14]:
df.rename_axis('Categories')

            value
Categories
A              10
B              20
C              30

#### âœ… **Why**:

Helpful when exporting data (CSV/Excel) for clarity.

### ðŸ”¹ 4. Removing Redundant Index Columns

#### âž¤ Problem:

Sometimes you get extra "Unnamed: 0" columns when importing CSVs due to saved index.

#### âœ… **Fix**:

```python
df = pd.read_csv('file.csv', index_col=0)
# OR drop that column:
df.drop(columns='Unnamed: 0', inplace=True)
```

#### âœ… **Why**:

Prevents unnecessary confusion and clutter in datasets.

### ðŸ”¹ 5. `sort_index()` â€“ Sort the Index

#### âž¤ **Purpose**:

Sort rows based on the index values.

In [17]:
df

   value
A     10
B     20
C     30

In [20]:
df.sort_index(ascending=False, inplace=True)
df

   value
C     30
B     20
A     10


#### âž¤ Use Case:

Useful in time-series data, reporting, and consistent row order.

### ðŸ”¹ 6. Validate Index Uniqueness

In [22]:
df.index.is_unique # Returns True or False

True

#### âž¤ Use Case:

Before setting an index or merging/joining based on index, ensure itâ€™s unique to avoid unexpected behaviors.

### ðŸ”¹ 7. Removing MultiIndex (Flatten Hierarchical Index)

```python
df.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df.columns]
```

#### âž¤ Use Case:

After using `groupby().agg()` or pivoting, you often get MultiIndex columns. Flattening helps for export or analysis.


## âœ… Real-Time Scenarios

| Use Case                                    | Method                       | Reason                                   |
| ------------------------------------------- | ---------------------------- | ---------------------------------------- |
| After `groupby()` you want a flat DataFrame | `reset_index()`              | Bring grouped keys back as columns       |
| Time-series forecasting with dates          | `set_index('date')`          | Makes time slicing and plotting easy     |
| Cleaning CSV import with unwanted index     | `drop(columns='Unnamed: 0')` | Avoid unnecessary columns                |
| Assign readable index name                  | `rename_axis()`              | Helpful for documentation and export     |
| Ensuring proper join keys                   | `df.index.is_unique`         | Avoids data duplication or loss in joins |

## ðŸ”„ Summary Table

| Task                         | Method                               |
| ---------------------------- | ------------------------------------ |
| Remove custom index          | `reset_index()`                      |
| Set column as index          | `set_index()`                        |
| Rename index label           | `rename_axis()`                      |
| Drop auto-added index column | `drop(columns=...)`                  |
| Sort rows by index           | `sort_index()`                       |
| Check index uniqueness       | `df.index.is_unique`                 |
| Flatten MultiIndex           | List comprehension over `df.columns` |

<center><b>Thanks</b></center>