# **8. Working with Date and Time**

## üìÜ **2. Exploring and Accessing DateTime Components**

In [1]:
import pandas as pd 
import numpy as np

### ‚úÖ 1. **What** it does and **when** to use it

#### üëâ What it does:

Once a column is converted to pandas `datetime64` type (using `pd.to_datetime()`), you can **access specific parts of the date/time**, like year, month, day, hour, weekday, etc., using the **`.dt` accessor**.

#### üìå Why it's useful:

* Allows for **feature engineering** ‚Äî extracting year/month/weekday for grouping or modeling.
* Supports **filtering** based on individual components (e.g., all rows from July).
* Helps in **time-based analysis**, like seasonality, peak hours, or monthly trends.

#### üï∞Ô∏è When to use:

* After converting strings to datetime format.
* Before performing **grouping**, **aggregation**, or **visualizations** on date components.
* When building **time-aware machine learning features**.

### üßæ 2. Syntax and Core Parameters

#### üß± General Syntax:

```python
df['date'].dt.<component>
```

#### üí° No external parameters ‚Äî it's a **property accessor**, not a function.

### üß† 3. Different Methods and Techniques

Here are commonly used datetime component accessors via `.dt`:

| Component     | Accessor                         | Description                          |
| ------------- | -------------------------------- | ------------------------------------ |
| Year          | `.dt.year`                       | Extracts the year (e.g., 2024)       |
| Month         | `.dt.month`                      | Extracts the month as number (1-12)  |
| Day           | `.dt.day`                        | Extracts day of the month (1-31)     |
| Weekday       | `.dt.weekday` or `.dt.dayofweek` | Returns 0 for Monday to 6 for Sunday |
| Day Name      | `.dt.day_name()`                 | Returns full day name                |
| Month Name    | `.dt.month_name()`               | Returns full month name              |
| Hour          | `.dt.hour`                       | Extracts the hour (0-23)             |
| Minute        | `.dt.minute`                     | Extracts the minute (0-59)           |
| Second        | `.dt.second`                     | Extracts the second (0-59)           |
| Quarter       | `.dt.quarter`                    | Returns 1‚Äì4 depending on the quarter |
| Week/ISO Week | `.dt.isocalendar().week`         | Returns ISO week number (1‚Äì52)       |
| Date Only     | `.dt.date`                       | Returns `datetime.date` object       |
| Time Only     | `.dt.time`                       | Returns `datetime.time` object       |

### üß™ 4. Examples on Real/Pseudo Data

In [3]:
# Sample DataFrame with datetime column
df = pd.DataFrame({
    'timestamp': pd.to_datetime([
        '2024-07-25 14:35:21',
        '2024-12-01 09:20:00',
        '2025-01-15 23:55:45'
    ])
})

display(df)
print(df.dtypes)

            timestamp
0 2024-07-25 14:35:21
1 2024-12-01 09:20:00
2 2025-01-15 23:55:45

timestamp    datetime64[ns]
dtype: object

#### ‚úÖ Extract date parts:

In [7]:
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.month
df['day'] = df['timestamp'].dt.day

df

            timestamp  year  month  day
0 2024-07-25 14:35:21  2024      7   25
1 2024-12-01 09:20:00  2024     12    1
2 2025-01-15 23:55:45  2025      1   15

#### ‚úÖ Extract time parts:

In [8]:
df['hour'] = df['timestamp'].dt.hour
df['minute'] = df['timestamp'].dt.minute
df['second'] = df['timestamp'].dt.second

df

            timestamp  year  month  day  hour  minute  second
0 2024-07-25 14:35:21  2024      7   25    14      35      21
1 2024-12-01 09:20:00  2024     12    1     9      20       0
2 2025-01-15 23:55:45  2025      1   15    23      55      45

#### ‚úÖ Get human-readable names:

In [11]:
df['day_name'] = df['timestamp'].dt.day_name()
df['month_name'] = df['timestamp'].dt.month_name()

df

,timestamp,year,month,day,hour,minute,second,day_name,month_name
0,2024-07-25 14:35:21,2024,7,25,14,35,21,Thursday,July
1,2024-12-01 09:20:00,2024,12,1,9,20,0,Sunday,December
2,2025-01-15 23:55:45,2025,1,15,23,55,45,Wednesday,January

#### ‚úÖ Extract week number:

In [13]:
df['iso_weel'] = df['timestamp'].dt.isocalendar().week

df

,timestamp,year,month,day,hour,minute,second,day_name,month_name,iso_weel
0,2024-07-25 14:35:21,2024,7,25,14,35,21,Thursday,July,30
1,2024-12-01 09:20:00,2024,12,1,9,20,0,Sunday,December,48
2,2025-01-15 23:55:45,2025,1,15,23,55,45,Wednesday,January,3

### ‚ö†Ô∏è 5. Common Pitfalls and Best Practices

| Pitfall               | What Happens                           | Best Practice                                |
| --------------------- | -------------------------------------- | -------------------------------------------- |
| `.dt` on non-datetime | Throws error                           | Always convert with `pd.to_datetime()` first |
| Mixed types in column | Fails or gives wrong values            | Ensure the entire column is datetime-typed   |
| Ambiguous formats     | `2023-04-05` ‚Äì is it April 5 or May 4? | Always use `format=` when converting         |
| `.dt` on `NaT` values | Returns `NaN` or error in chaining     | Use `.notna()` to filter valid dates         |
| `week` deprecation    | `.dt.week` is deprecated               | Use `.dt.isocalendar().week` instead         |

### üåç 6. Real World Use Cases

| Use Case                       | Description                                                                         |
| ------------------------------ | ----------------------------------------------------------------------------------- |
| **E-commerce seasonality**     | Use `.dt.month` to find top-selling months or `.dt.dayofweek` for weekly trends     |
| **Customer behavior analysis** | Use `.dt.hour` to detect peak login or purchase times                               |
| **Loan or insurance data**     | Extract `.dt.year` for age of application, or `.dt.quarter` for quarterly reporting |
| **Healthcare visit data**      | Use `.dt.day_name()` to evaluate appointment loads by weekday                       |
| **Airlines**                   | Break down timestamps into `.dt.hour` for traffic management or delay analysis      |
| **Retail analytics**           | Analyze sales by `.dt.weekday`, `.dt.month_name()` or `.dt.quarter`                 |

## ‚úÖ Summary for Section B: Exploring and Accessing DateTime Components

| Concept          | Summary                                                          |
| ---------------- | ---------------------------------------------------------------- |
| `.dt` accessor   | Use it to extract parts like year, month, weekday, etc.          |
| Powerful for     | Feature engineering, filtering, grouping, seasonal analysis      |
| Must do before   | Ensure column is datetime with `pd.to_datetime()`                |
| Common accessors | `.dt.year`, `.dt.month`, `.dt.day`, `.dt.hour`, `.dt.day_name()` |
| Use case         | Almost any industry involving timestamped data!                  |

<center><b>Thanks</b></center>