# **8. Working with Date and Time**

## üßÆ **5. Time Deltas and Date Arithmetic**

In [8]:
import pandas as pd 
import numpy as np

### 1. **What it does and When to Use It**

**Time Deltas** represent differences or durations between two dates or times.

üìå Use cases include:

* Calculating age or tenure
* Measuring time intervals between events
* Adding/subtracting durations to/from datetime values

This is crucial in **time series analysis**, **activity monitoring**, **forecasting**, **duration-based billing**, etc.

### 2. **Syntax and Core Parameters**

#### ‚û§ Core Classes:

* `pd.Timedelta()` ‚Äî Represents a duration
* `df['date2'] - df['date1']` ‚Äî Gives a Timedelta Series
* `pd.to_timedelta()` ‚Äî Converts strings/numbers to Timedeltas

#### ‚û§ Parameters (for `pd.Timedelta()` / `pd.to_timedelta()`):

* `unit=`: Unit of the argument (e.g., `'D'`, `'h'`, `'m'`, `'s'`)
* `errors=`: Handle parsing errors (`'coerce'`, `'raise'`, `'ignore'`)

### 3. **Different Methods and Techniques**

#### ‚úÖ Basic TimeDelta Creation

```python
pd.Timedelta(days=5, hours=3)
pd.Timedelta('2 days 6 hours')
```

#### ‚úÖ Subtracting Dates

```python
df['duration'] = df['end_date'] - df['start_date']
```

#### ‚úÖ Adding/Subtracting Time

```python
df['future_date'] = df['start_date'] + pd.Timedelta(days=7)
```

#### ‚úÖ Using `to_timedelta()`

```python
pd.to_timedelta(['1 days', '2 days 3 hours'])
```

#### ‚úÖ Extract Components from Timedelta

```python
df['duration'].dt.days
df['duration'].dt.total_seconds()
```

### 4. **Examples on Real/Pseudo Data**

In [9]:
data = {
    'user': ['Alice', 'Bob', 'Charlie'],
    'login_time': ['2025-07-01 08:00:00', '2025-07-01 09:15:00', '2025-07-01 07:50:00'],
    'logout_time': ['2025-07-01 10:30:00', '2025-07-01 10:00:00', '2025-07-01 09:00:00']
}
df = pd.DataFrame(data)

df

      user           login_time          logout_time
0    Alice  2025-07-01 08:00:00  2025-07-01 10:30:00
1      Bob  2025-07-01 09:15:00  2025-07-01 10:00:00
2  Charlie  2025-07-01 07:50:00  2025-07-01 09:00:00

In [10]:
df.dtypes

user           object
login_time     object
logout_time    object
dtype: object

In [11]:
# Convert to datetime

df['login_time'] = pd.to_datetime(df['login_time'])
df['logout_time'] = pd.to_datetime(df['logout_time'])

df

      user          login_time         logout_time
0    Alice 2025-07-01 08:00:00 2025-07-01 10:30:00
1      Bob 2025-07-01 09:15:00 2025-07-01 10:00:00
2  Charlie 2025-07-01 07:50:00 2025-07-01 09:00:00

In [12]:
df.dtypes

user                   object
login_time     datetime64[ns]
logout_time    datetime64[ns]
dtype: object

In [14]:
# Compute session duration
df['session_duration'] = df['logout_time'] - df['login_time']
df

      user          login_time         logout_time session_duration
0    Alice 2025-07-01 08:00:00 2025-07-01 10:30:00  0 days 02:30:00
1      Bob 2025-07-01 09:15:00 2025-07-01 10:00:00  0 days 00:45:00
2  Charlie 2025-07-01 07:50:00 2025-07-01 09:00:00  0 days 01:10:00

In [15]:
df.dtypes

user                         object
login_time           datetime64[ns]
logout_time          datetime64[ns]
session_duration    timedelta64[ns]
dtype: object

In [18]:
# Extract duration in minutes
df['session_duration'].dt.total_seconds() / 60

0    150.0
1     45.0
2     70.0
Name: session_duration, dtype: float64

In [20]:
pd.Timedelta('2 days')

Timedelta('2 days 00:00:00')

In [21]:
pd.Timedelta('5 days 2 min')

Timedelta('5 days 00:02:00')

In [22]:
pd.to_timedelta('2 days')

Timedelta('2 days 00:00:00')

### 5. **Common Pitfalls and Best Practices**

| üî¥ Pitfall                                                     | ‚úÖ Best Practice                                    |
| -------------------------------------------------------------- | -------------------------------------------------- |
| Assuming timedelta will automatically return minutes/hours     | Use `.dt.total_seconds()` to convert               |
| Forgetting to convert columns to `datetime` before subtraction | Always use `pd.to_datetime()` first                |
| Using string subtraction like `'2025-01-01' - '2024-01-01'`    | This results in an error ‚Äî use parsed `datetime`   |
| Comparing Timedeltas with string durations                     | Always convert strings to `pd.Timedelta()` first   |
| Adding strings like `'1 day'` to datetime                      | Use `pd.Timedelta('1 day')` or `pd.to_timedelta()` |

### 6. **Real World Use Cases**

#### üè• Healthcare:

* Time between patient check-in and discharge
* Length of stay analysis for hospitalization trends

#### üì¶ E-commerce:

* Delivery time = `delivered_date - shipped_date`
* Return window calculation = `purchase_date + timedelta(days=30)`

#### üïµÔ∏è Security:

* Time difference between login and suspicious activity
* Session timeout tracking

#### üöó Transport:

* Trip duration: `drop_time - pickup_time`
* Calculate delay between expected and actual arrival

#### üìÖ HR Analytics:

* Employee tenure = `today - joining_date`
* Days since last appraisal

<center><b>Thanks</b></center>