# **8. Working with Date and Time**

## **üóìÔ∏è 8. Setting and Using `DatetimeIndex`**

In [2]:
import pandas as pd 
import numpy as np

### 1. **What it does and When to Use It**

`DatetimeIndex` is a special type of pandas index based on datetime values. It allows for **efficient, intuitive, and powerful time series operations**, such as:

* Time-based indexing and slicing
* Resampling and frequency conversion
* Rolling windows and shifting
* Time zone localization
* Plotting and filtering based on datetime properties

**Use it when** your dataset includes time-related information and you want to perform operations based on **time intervals**.

### 2. **Syntax and Core Parameters**

#### ‚úÖ **Creating a DatetimeIndex**

```python
pd.to_datetime(your_column)
```

#### ‚úÖ **Setting it as Index**

```python
df.set_index('datetime_column', inplace=True)
```

#### ‚úÖ **Creating from scratch**

```python
pd.date_range(start='2025-01-01', periods=10, freq='D')
```

#### ‚úÖ **Important Parameters:**

| Parameter               | Description                                     |
| ----------------------- | ----------------------------------------------- |
| `inplace`               | Whether to modify the DataFrame in place        |
| `drop` (in `set_index`) | Drop the original column or retain it           |
| `freq`                  | Frequency string like `'D'`, `'M'`, `'H'` etc.  |
| `tz`                    | Timezone info (e.g., `'UTC'`, `'Asia/Kolkata'`) |

### 3. **Different Methods and Techniques**

#### üß± A. Converting to datetime and setting index

```python
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
```

#### üìÖ B. Generating a DatetimeIndex

```python
dates = pd.date_range(start='2025-01-01', periods=5, freq='D')
```

#### üìä C. Time-based slicing

```python
df['2025-07']         # All rows from July 2025
df['2025-07-25']      # Rows from specific day
```

#### üìà D. Filtering with datetime attributes

```python
df[df.index.month == 7]    # All July records
df[df.index.weekday == 0]  # All Mondays
```

#### üß≠ E. Resampling and shifting (possible only with DatetimeIndex)

```python
df.resample('W').mean()
df.shift(1)
```

### 4. **Examples on Real/Pseudo Data**

In [4]:
data = {
    'date': pd.date_range(start='2025-07-20', periods=6, freq='D'),
    'sales': [200, 220, 180, 240, 210, 250]
}
df = pd.DataFrame(data)

df

        date  sales
0 2025-07-20    200
1 2025-07-21    220
2 2025-07-22    180
3 2025-07-23    240
4 2025-07-24    210
5 2025-07-25    250

In [6]:
# Set datetime as index
df.set_index('date', inplace=True)
df

            sales
date
2025-07-20    200
2025-07-21    220
2025-07-22    180
2025-07-23    240
2025-07-24    210
2025-07-25    250

In [7]:
df['rolling_avg'] = df['sales'].rolling(window=3).mean()
df

            sales  rolling_avg
date
2025-07-20    200          NaN
2025-07-21    220          NaN
2025-07-22    180   200.000000
2025-07-23    240   213.333333
2025-07-24    210   210.000000
2025-07-25    250   233.333333

In [10]:
df.loc['2025-7-22']

sales          180.0
rolling_avg    200.0
Name: 2025-07-22 00:00:00, dtype: float64

In [11]:
df.loc['2025-07-21':'2025-07-24']

            sales  rolling_avg
date
2025-07-21    220          NaN
2025-07-22    180   200.000000
2025-07-23    240   213.333333
2025-07-24    210   210.000000

### 5. **Common Pitfalls and Best Practices**

| ‚ùå Pitfall                                      | ‚úÖ Best Practice                                                 |
| ---------------------------------------------- | --------------------------------------------------------------- |
| Forgetting to convert column to datetime       | Always use `pd.to_datetime()` before setting index              |
| Using regular index instead of `DatetimeIndex` | Many time-based features require a `DatetimeIndex`              |
| Misinterpreting date formats                   | Use `dayfirst=True` if needed; avoid ambiguity                  |
| Trying to resample without a datetime index    | Always convert to `DatetimeIndex` first                         |
| Using datetime strings instead of timestamps   | Convert to actual datetime objects for performance and features |

### 6. **Real World Use Cases**

#### üìà Financial Markets

* Stock price time series indexed by trading days
* High-frequency data like minute-wise trades

#### üõí Retail and E-commerce

* Analyzing daily or hourly sales
* Filtering peak holiday sales weeks using datetime slicing

#### üå°Ô∏è IoT & Sensor Data

* Tracking sensor readings with millisecond timestamps
* Aggregating and resampling for analysis

#### üß† Machine Learning

* Feature engineering: creating lag/lead, rolling windows, and time-based splits
* Predictive modeling using daily/weekly trends

#### üßæ Business Analytics

* Monthly or quarterly revenue summaries
* Weekday vs. weekend performance analysis

<center><b>Thanks</b></center>