# **8. Working with Date and Time**

## **üåç 9. Handling Time Zones**

In [1]:
import pandas as pd 
import numpy as np

### 1. **What It Does and When to Use It**

**Handling Time Zones** in pandas involves localizing datetime values to a specific timezone or converting them between timezones.

* By default, `datetime` objects in pandas are **timezone-naive** (they don‚Äôt carry any timezone info).
* You can **localize** these naive datetime objects to a specific timezone (e.g., UTC).
* You can also **convert** from one timezone to another (e.g., UTC to US/Eastern).

**When to use**:

* Working with global data from multiple regions (e.g., logs, financial records, web activity).
* Comparing or aggregating data across timezones.
* Ensuring consistency in scheduled reports or analytics.

### 2. **Syntax and Core Parameters**

#### ‚úÖ **Localize a Naive Datetime**

```python
df.index = df.index.tz_localize('UTC')
```

#### ‚úÖ **Convert to Another Timezone**

```python
df.index = df.index.tz_convert('Asia/Kolkata')
```

#### ‚úÖ **Create Timezone-Aware Datetime**

```python
pd.to_datetime(df['timestamp'], utc=True)
```

#### üß© **Common Timezone Strings:**

* `'UTC'`, `'Asia/Kolkata'`, `'US/Eastern'`, `'Europe/London'`, `'Australia/Sydney'`, etc.

Use `pytz.all_timezones` or `zoneinfo.available_timezones()` (Python 3.9+) for a full list.

### 3. **Different Methods and Techniques**

| Method                                               | Description                                          |
| ---------------------------------------------------- | ---------------------------------------------------- |
| `tz_localize()`                                      | Adds timezone info to naive datetime                 |
| `tz_convert()`                                       | Converts aware datetime from one timezone to another |
| `utc=True` in `pd.to_datetime()`                     | Converts to UTC while parsing                        |
| `Series.dt.tz_localize()` / `Series.dt.tz_convert()` | Timezone ops on datetime columns, not index          |

### 4. **Examples on Real/Pseudo Data**

#### üß™ Example: Localize and Convert

In [2]:
df = pd.DataFrame({
    'timestamp': pd.date_range(start='2025-07-20 09:00', periods=3, freq='D'),
    'value': [100, 110, 95]
})

df

            timestamp  value
0 2025-07-20 09:00:00    100
1 2025-07-21 09:00:00    110
2 2025-07-22 09:00:00     95

In [3]:
df.set_index('timestamp', inplace=True)
df

                     value
timestamp
2025-07-20 09:00:00    100
2025-07-21 09:00:00    110
2025-07-22 09:00:00     95

In [12]:
# Localize to UTC (assume data was collected in UTC)
df_utc = df.tz_localize('UTC')
df_utc

                           value
timestamp
2025-07-20 09:00:00+00:00    100
2025-07-21 09:00:00+00:00    110
2025-07-22 09:00:00+00:00     95

In [14]:
df_utc.tz_convert('Asia/Kolkata')

                           value
timestamp
2025-07-20 14:30:00+05:30    100
2025-07-21 14:30:00+05:30    110
2025-07-22 14:30:00+05:30     95

#### üïê Example: Timezone-aware column

In [15]:
# If timestamp column isn't index
df

                     value
timestamp
2025-07-20 09:00:00    100
2025-07-21 09:00:00    110
2025-07-22 09:00:00     95

In [17]:
df.reset_index(inplace=True)
df

            timestamp  value
0 2025-07-20 09:00:00    100
1 2025-07-21 09:00:00    110
2 2025-07-22 09:00:00     95

In [22]:
df['timestamp'] = df['timestamp'].dt.tz_localize('UTC')
df

                  timestamp  value
0 2025-07-20 09:00:00+00:00    100
1 2025-07-21 09:00:00+00:00    110
2 2025-07-22 09:00:00+00:00     95

In [24]:
df['timestamp'] = df['timestamp'].dt.tz_convert('Asia/Kolkata')
df

                  timestamp  value
0 2025-07-20 14:30:00+05:30    100
1 2025-07-21 14:30:00+05:30    110
2 2025-07-22 14:30:00+05:30     95

### 5. **Common Pitfalls and Best Practices**

| ‚ùå Pitfall                                            | ‚úÖ Best Practice                                            |
| ---------------------------------------------------- | ---------------------------------------------------------- |
| Localizing a datetime that is already timezone-aware | Use `tz_convert()` on timezone-aware datetimes             |
| Forgetting to localize before converting             | Always localize naive datetimes first                      |
| Comparing naive and aware datetimes                  | Can lead to errors; ensure both are timezone-aware         |
| Ignoring DST (Daylight Saving Time)                  | Choose correct timezone (e.g., `'US/Eastern'` handles DST) |
| Hardcoding time offsets like `+05:30`                | Use timezone names instead of fixed offsets                |

### 6. **Real World Use Cases**

#### üåç Global Business Operations

* Standardizing timestamps in UTC for audit logs, then converting for local reports.

#### üìä Financial Markets

* Aligning international trading data from multiple exchanges (e.g., NYSE, NSE).

#### üìà Web & App Analytics

* Tracking user activity by their local time to understand peak engagement.

#### üìÜ Scheduling & Notifications

* Sending reminders or alerts at the right local time for each user.

#### üß™ Sensor or IoT Devices

* Devices in different regions sending UTC logs, but needing local aggregation.

### ‚úÖ Summary

Handling timezones ensures **accurate and consistent datetime representation** in global or time-sensitive datasets. Whether you're **localizing**, **converting**, or **comparing**, timezone-awareness is essential in any serious time series or timestamp-based application.

<center><b>Thanks</b></center>